section.jury{
    background: #000;
    .wrapper{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        .juryTitleBox{
            margin-bottom: 40px;
            h2{
                text-transform: uppercase;
                color: #fff;
            }
        }
        .juryContainer{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 80%;
            .juryItem{
                width: 270px;
                background: #000;
                height: 335px;
                margin-right:  2px;
                margin-top: 20px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
                .juryContent{
                    p{
                        text-transform: uppercase;
                        font-size: 32px;
                        width: 100%;
                        text-align: center;
                        font-weight: 600;
                        &.name{
                            color: #000;
                            background: #fff;
                            padding: 0 20px;
                        }
                        &.description{
                            color: #fff;
                            background: #000;
                        }
                    }
                }
            }
        }
    }
}

section.HowtoApply{
    background: url('../images/bgcourt.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-color: #fff;
    .bgBox{
        height: 100%;
        background: url('../images/texturebg.jpg');
        background-repeat: no-repeat;
        background-position: bottom;
        padding-bottom: 80px;
        .wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 100px;
            .titleBox{
                text-transform: uppercase;
                margin-bottom: 130px;
            }
            .stepByStepContainer{
                display: flex;     
                flex-wrap: wrap;
                justify-content: center;
                .step{
                    width: 350px;
                    height: 285px;
                    padding: 30px 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    margin-right: 50px;
                    p{
                        font-size: 17px;
                        color: #000;
                        text-align: center;
                        margin-top: 20px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

section.bankData{
    background: #bb9f58;
    background-image: url('../images/texturebg2.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 100px;
    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 80px;
        .infoBox{
            margin-top: 80px;
            p{
                font-size: 42px;
                font-weight: 500;
                text-align: center;
            }
        }
    }
}

section.form{
    background: #000;
    .wrapper{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .titleBox{
            h2{
                color: #fff;
                margin-top: 100px;
            }
        }
        .description{
            p{
                color: #fff;
                font-family: 'Raleway';
                font-size: 18px;
                text-transform: none;
                font-weight: 500;
                text-align: center;
                padding: 0px 125px;
            }
        }
        .formBox{       
            width: 100%;
            .formTitle{
                width: 100%;
                background: #bb9f58;
                margin-top: 75px;
                margin-bottom: 25px;
                h2{
                    color: #2b2212;
                    font-size: 56px;
                    font-weight: 600;
                    padding: 10px 20px;
                }
            }
            .form{
                form{
                    .inputContainer{
                        .inputBox{
                            .inputlabel{
                                font-family: 'Raleway';
                                color: #fff;
                                font-size: 18px;
                            }
                            &.uploadFile{
                                display:none;
                            }
                        }
                        input{
                            padding: 10px 10px;
                            font-family: 'Raleway';
                            font-size: 16px;
                            border: solid 2px #bb9f58;
                            box-sizing: border-box;
                            &.name{
                                width: 100%;
                            }
                            &.email{
                                width: 55%;
                                [required]{
                                    color: none;
                                }
                            }
                            &.phone{
                                width: 30%;
                            }
                            &.agency{
                                width: 30%;
                            }
                            &.jobTitle{
                                width: 55%;
                            }
                        }
                    }
                }
                .submitBox{
                    width: 20%;
                    margin: 50px auto;
                    button{
                        padding: 15px 40px;
                        color: #000;
                        font-family: 'Rajdhani';
                        font-weight: 600;
                    }
                }
            }
        }
    }
}