@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700&display=swap');
@import "home.scss";
@import "normalize.scss";

.wrapper{
    width: 1280px;
    display: block;
    margin: 0 auto;
}

p, span, h1, h2, h3, h4{
    font-family: 'Rajdhani';
    text-transform: uppercase;
    font-style: italic;
}

h2{
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 63px;
    font-style: italic;
}