html(lang="en")
    head
        link(rel="stylesheet", href="css/main.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        title CCRJ
body
    .header
        .webdoor    
            img(src='../images/header.jpg', alt="")     
        section.jury
            .wrapper
                .juryTitleBox   
                    h2 presidentes de júri
                .juryContainer
                    .juryItem
                        img(src="../images/alvaro_filme.png", alt="") 
                        .juryContent
                            .name
                                p Álvaro Rodrigues
                            .description
                                p Filme
                    .juryItem
                        img(src="../images/luisclaudiosalvestroni_impressa.png", alt="") 
                        .juryContent
                            .name 
                                p Luiz Claudio<br/> Salvestroni
                            .description 
                                p Mídia Impressa
                    .juryItem
                        img(src="../images/paulinhobessa_radio.png", alt="") 
                        .juryContent
                            .name 
                                p Paulinho Bessa
                            .description
                                p Rádio
                    .juryItem
                        img(src="../images/alessandrasadock_exterior.png", alt="") 
                        .juryContent
                            .name
                                p Alessandra Sadock
                            .description
                                p Mídia Exterior
                    .juryItem
                        img(src="../images/anaaccioli_digital.png", alt="") 
                        .juryContent
                            .name
                                p Ana Accioli
                            .description
                                p Digital
                    .juryItem
                        img(src="../images/milena_promo.png", alt="") 
                        .juryContent
                            .name
                                p Milena Zindeluk
                            .description
                                p Promo
                    .juryItem
                        img(src="../images/anarocha_design.png", alt="") 
                        .juryContent
                            .name
                                p Ana Rocha
                            .description
                                p Design
        section.HowtoApply
            .bgBox
                .wrapper
                    .titleBox
                        h2 Como inscrever suas peças
                    .stepByStepContainer
                        .step
                            .media
                                img(src="../images/firststep.png", alt="")
                            .text
                                p Crie uma pasta com o nome de sua agência e subpastas para cada categoria
                        .step
                            .media
                                img(src="../images/secondstep.png", alt="")
                            .text
                                p Nomeie seus arquivos com o título das peças. Em caso de campanha, adicione números. Exemplo: nomedacampanha02.jpg
                        .step
                            .media
                                img(src="../images/thirdstep.png", alt="")
                            .text   
                                p Multiplique o número de peças por 100, deposite o valor na conta do Clube de Criação e junte o comprovante à pasta da sua agência.
                        .step
                            .media
                                img(src="../images/fourth.png", alt="")
                            .text
                                p Comprima a pasta e sua o arquivo .rar ou .zip no WeTransfer
                        .step
                            .media
                                img(src="../images/fifth.png", alt="")
                            .text
                                p Envie o link do WeTransfer ao preencher o formulário abaixo.
        section.bankData
            .wrapper
                .titleBox
                    h2 Dados Bancários
                .infoBox
                    p Clube de criação do rio de janeiro
                    p banco inter
                    p c/c xxx-xx
                    p cnpj: XXXX.XXXX.XXXXX/0001
        section.form
            .wrapper   
                .titleBox
                    h2 Inscrição
                .description 
                    p Fazer a inscrição de peças no anuário é simples, fácil e sem sofrimento. Mesmo assim, caso tenha alguma dúvida entre em contato pelo e-mail anuario@clubedecriacao.rio
                .formBox
                    .formTitle
                        h2 responsável
                    .form
                        form(action="")
                            .inputContainer
                                .inputBox.name
                                    .inputLabel 
                                        label Nome
                                    .inputElement
                                        input.name
                            .inputContainer
                                .inputBox.email
                                    .inputLabel 
                                        label E-mail*
                                    .inputElement
                                        input(type="text" name="name" required).email
                                .inputBox.phone
                                    .inputLabel 
                                        label Telefone*
                                    .inputElement
                                        input(type="text" name="phone" required).phone
                            .inputContainer
                                .inputBox.agency
                                    .inputLabel 
                                        label Agência*
                                    .inputElement
                                        input(type="text" name="agency" required).agency
                                .inputBox.jobTitle
                                    .inputLabel 
                                        label Cargo*
                                    .inputElement
                                        input(type="text" name="jobTitle" required).jobTitle
                            .inputContainer
                                .bar
                                    img(src="../images/barform.png", alt="")
                            .inputContainer
                                .inputBox.file
                                    .inputElement.file
                                        input(type="text" name="file" value='').fileName
                                    .searchFile
                                        button Pesquisar
                            .submitBox
                                button.submitForm  Enviar
        section.annuaryfooter
            a(href="https://fb.me/ClubeDeCriacaoRJ" target="_blank")
                .annuarywbdfoo
                    img(src="../images/footerwebdr.png", alt="")
                

