html(lang="en")
    head
        link(rel="stylesheet", href="css/main.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        title 123
body
    .header
        .webdoor    
            img(src='../images/header.jpg', alt="")     
        section.jury
            .wrapper
                .juryTitleBox   
                    h2 presidentes de júri
                .juryContainer
                    .juryItem
                        img(src="../images/teste.jpg", alt="") 
                        .juryContent
                            p.name Barack, Obama
                            p.description Filme
                    .juryItem
                        img(src="../images/teste.jpg", alt="") 
                        .juryContent
                            p.name Barack, Obama
                            p.description Filme
                    .juryItem
                        img(src="../images/teste.jpg", alt="") 
                        .juryContent
                            p.name Barack, Obama
                            p.description Filme
                    .juryItem
                        img(src="../images/teste.jpg", alt="") 
                        .juryContent
                            p.name Barack, Obama
                            p.description Filme
                    .juryItem
                        img(src="../images/teste.jpg", alt="") 
                        .juryContent
                            p.name Barack, Obama
                            p.description Filme
                    .juryItem
                        img(src="../images/teste.jpg", alt="") 
                        .juryContent
                            p.name Barack, Obama
                            p.description Filme
        section.HowtoApply
            .wrapper
                .titleBox
                    h2 Como inscrever suas peças


